.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
}

.fill {
    background-image: url('../img/main-bg.svg');
    background-size: contain;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6.6rem var(--gap);
}

.text-spacing {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 4rem;
    padding-left: 4rem;
}

.section {
    min-height: 100vh;
}

.spacing {
    height: 6.5rem;
}

.less-spacing {
    height: 3rem;
}