.baloon {
    position: absolute;
    margin-left: 11rem;
    border: 0.1rem solid var(--white-color);
    border-radius: 6rem;
    padding: 1.1rem;
}

.triangle {
    position: relative;
    background-image: url('../img/main-bg.svg');
    border-right: 0.35rem solid transparent;
    border-bottom: 1rem solid var(--white-color);
    border-left: 0.9rem solid transparent;
    margin-right: 80rem;
    margin-top: 1rem;
    transform: rotate(-92deg);
}

.puppies {
    border: 1px solid var(--white-color);
    border-radius: 3rem;
    width: 50rem;
    height: 35rem;
}

.puppies-content {
    display: flex;
    align-self: center;
    margin: 0 auto;
}

.tipo-pelagem-content {
    display: flex;
    flex-direction: row;
}

.tipo-pelagem-content img {
    margin-right: 5rem;
}

.images-align {
    display: flex;
    justify-content: space-around;
}

.form {
    grid-column: span 2;
}

.form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.4rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem var(--pink-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    border-radius: 1.2rem;
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--white-color);
    background: var(--white-color);
    color: var(--pink-color);
}

.form-group ::placeholder {
    color: var(--grey-color);   
}

.footer {
    text-align: center;
    font-size: 1.6rem;
    margin-top: -3rem;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

#contato {
    margin-bottom: 2rem;
}
